.testimonials {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials h1 {
  font-size: 50px;
}

.testimonials .container {
  width: 100%;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonials .container .card {
  width: 250px;
  height: 70%;
  border-radius: 10px;
  box-shadow: 0 0 15px -8px black;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  transition: 0.7s all ease;
}

.testimonials .container .card:hover {
  transform: scale(1.1);
}

.testimonials .container .card.featured {
  width: 300px;
  height: 75%;
  margin: 0 30px;
}
.testimonials .container .card .top {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.testimonials .container .card .top img.left,
.testimonials .container .card .top img.right {
  height: 25px;
}
.testimonials .container .card .top img.user {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 30px;
}
.testimonials .container .card .center {
  padding: 10px;
  background-color: rgb(226, 235, 235);
  border-radius: 10px;
}
.testimonials .container .card .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials .container .card .bottom h3 {
  margin-bottom: 5px;
}
.testimonials .container .card .bottom h4 {
  color: gray;
}

@media only screen and (max-width: 768px) {
  .testimonials h1 {
    font-size: 22px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .testimonials .container {
    height: 100%;
    padding: 15px 10px;
    margin-top: 0;
    overflow-y: hidden;
  }
  .testimonials .container .card {
    width: 300px;
    height: 25%;
    margin-bottom: 5px;

    justify-content: space-between;
    flex-direction: column;
  }
  .testimonials .container .card.featured {
    width: 300px;
    height: 30%;
    margin: 10px 0;
    justify-content: space-between;
    flex-direction: column;
  }
  .testimonials .container .card:hover {
    transform: scale(1.05);
  }

  .testimonials .container .card .center {
    font-size: 14px;
    display: flex;
    align-items: center;
    overflow-y: hidden;
  }
  .testimonials .container .card .bottom h3 {
    font-size: 16px;
    margin-bottom: 0;
  }
  .testimonials .container .card .bottom h4 {
    font-size: 14px;
    margin-bottom: 0;
  }
  .testimonials .container .card .top img.user {
    height: 60px;
    width: 60px;
  }
}
